.lineWrap {
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform-origin: bottom;
  transition: all 0.3s;
  z-index: -1;

  .lines {
    position: relative;
    width: 100%;
    height: 100%;

    &:nth-child(2n) {
      .line {
        width: 45%;
      }
    }

    .number {
      position: absolute;
      left: -15px;
      width: 20%;
      white-space: nowrap;
      text-align: right;
      font-size: 80%;
    }

    .line {
      width: 70%;
      height: 2px;
      background-color: #ffffff;
    }
  }

  /* fullscreen css */
  &.fsLineWrap {
    top: 60%;

    .lines {

      &:nth-child(2n) {
        .line {
          width: 45%;
        }
      }

      .number {
        font-size: 180%;
      }

      .line {
        width: 60%;
        height: 4px;
      }
    }
  }
}