#infos {
  position: absolute;
  right: 5px;
  top: 10%;
  z-index: 1;

  span {
    font-size: 75%;

    &.flightTime {
      background-color: rgba(97, 65, 255, 0.8);
      padding: 0 1px;
    }
  }

  .info_1 {
    span {
      display:block;
    }
  }

  /* fullscreen css */
  &.fsInfos {
    span {
      font-size: 140%
    }
  }
}